.root
{
    text-align: center;
}
.root2
{
    text-align: center;
    height: 100px;
    width: 300px;
    background-color: brown;
    border-radius: 20px;
    color: white;
}
.root3{
    text-align: center;
    height: 100px;
    width: 300px;
    background-color: cyan;
    border-top-right-radius: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 40px;

}